<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <div id="page-wrapper">

    <div class="container-fluid" >

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="__APP__?c=content">文章管理</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i>文章列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div >
        <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true">
        </span>添加</button>
      </div>
      <br>


      <div class="row">
        <form action="__APP__" method="get">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">年级</span>
              <select class="form-control" name="school_nj" onchange="list_nj()" id="nj">
                <option value='' selected="selected">全部分类</option>
                  <foreach name="school_nj" item="nj">
                    <option value="{$nj}">{$nj}</option>
                  </foreach>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">科目</span>
              <select class="form-control" name="school_km" onchange="list_nj()" id="km">
                <option value=''selected="selected" >所有科目</option>
                  <foreach name="school_km" item="km" key="k">
                    <option value="{$k}">{$km}</option>
                  </foreach>
              </select>
            </div>
          </div>
     

          <input type="hidden" name="c" value="video"/>
          <input type="hidden" name="a" value="index"/>
          <div class="col-md-3">
            <div class="input-group">
              <input class="form-control" name="title" type="text" value="" placeholder="老师"  id="search"/>
                <span class="input-group-btn">
                  <button id="sub_data" class="btn btn-primary" type="button" onclick ="list_nj()"><i class="glyphicon glyphicon-search" ></i></button>
                </span>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3></h3>
          <div class="table-responsive">
            <form id="singcms-listorder">
              <table class="table table-bordered table-hover singcms-table">
                <thead>
                <tr>
                  <th id="singcms-checkbox-all" width="10"><input type="checkbox"/></th>
                  <th width="14">排序</th>
                  <th>id</th>
                  <th>年级</th>
                  <th>科目</th>
                  <th>老师</th>
                  <th>课题</th>
                  <th>时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="videos" id="video">
                  <tr id="video_{$video.id}">
                    <td><input type="checkbox" name="pushcheck" value="{$video.id}"/></td>
                    <td><input size=4 type='text'  name='listorder[{$video.id}]' value="{$video.listorder}"/></td><!--6.7-->
                    <td>{$video.id}</td>
                    <td>{$video.school_nj|getNjById}</td>
                    <td>{$video.school_km|getKmById}</td>
                    <td>{$video.school_ls}</td>
                    <td>{$video.school_kt}</td>
                    <td>{$video.create_time|date="Y-m-d H:i",###}</td>
                    <td>
                    <a href="__APP__?c=video&a=showlist&id={$video.id}">
                    <span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="{$video_id}" ></span>
                    </a>
                    <a href="javascript:;" id="singcms-delete"  attr-id="{$video.id}"  attr-message="删除" >
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ></span>
                    </a>
                      <a  href="__APP__?c=video&a=liulan&id={$video.id}" class="sing_cursor glyphicon glyphicon-eye-open" aria-hidden="true"  ></a>
                    </td>
                  </tr>
                </volist>

                </tbody>
              </table>
              <nav>

              <ul >
                
              </ul>

            </nav>
              

                    <nav>
                        <ul class="pagination">
                            {$pageres}
                        </ul>
                    </nav>


                        <!-- 排序按钮-->
                        <div>
                            <button  id="button-listorder" type="button" class="btn btn-primary dropdown-toggle pull-left" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>更新排序</button>
                        </div>

<br><br>
            <div class="input-group">
              <select class="form-control" name="position_id" id="select-push">
                <option value="0">请选择推荐位进行推送</option>
                <foreach name="positions" item="position">
                  <option value="{$position.id}">{$position.name}</option>
                </foreach>
              </select>
              <button id="singcms-push" type="button" class="btn btn-primary">推送</button>
            </div>
          </div>
        </div>
            </form>
      </div>
      <!-- /.row -->



    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>

    var SCOPE = {
        'add_url' : "__APP__?c=video&a=add",
        'set_status_url' : '__APP__?c=video&a=setStatus',
    }

</script>
<include file="Index/footer" />


